@font-face {
    font-family: bebaN;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

/* Fondo con gradiente de negro a morado */
body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.938), rgba(255, 103, 1, 0.832));
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
/* Estilo para el botón de cerrar sesión */
.btn-cerrar-sesion {
    position: absolute;
    /* Posiciona el botón respecto al body */
    top: 20px;
    /* 20px desde la parte superior */
    right: 20px;
    /* 20px desde la parte derecha */
    padding: 5px 10px;
    background-color: #b52a00;
    /* Fondo morado */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-cerrar-sesion:hover {
    background-color: rgba(255, 60, 0, 0.978);
    /* Color morado claro cuando pasa el mouse */
}

.btn-cerrar-sesion:focus{
    background-color: rgba(255, 60, 0, 0.978);
    color: white; /* Color blanco para el texto */
    border: 2px solid rgb(255, 191, 0); /* Añadir borde azul */
    box-shadow: 0 0 5px  rgba(255, 199, 32, 0.867), 0 0 12px rgb(255, 42, 0); /* Añadir sombra azul */
    outline: none; /* Eliminar el contorno predeterminado */
}


/* Estilo del formulario */
.divForm {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo semitransparente */
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 40vw;
    /* Ancho del formulario */
    max-width: 500px;
}

/* Estilo del título del formulario */
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 3rem;
    color: white;
    font-family: 'bebaN';
    letter-spacing: 2px;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 10px;
    display: block;
}

/* Estilo de los inputs */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px orangered solid;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    box-sizing: border-box;
    outline:none;
    box-shadow: 2px 2px 2px 1px orangered;
}


/* Estilo para el botón de envío */
input.submit {
    background-color: #b52a00; /* Fondo morado */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

input.submit:hover {
    background-color: rgba(255, 60, 0, 0.978); /* Cambiar a un color naranja claro */
}

input.submit:focus {
    background-color: rgba(255, 60, 0, 0.978);
    color: white;
    border: 2px solid rgb(255, 191, 0); /* Borde dorado */
    box-shadow: 0 0 5px rgba(255, 199, 32, 0.867), 0 0 12px rgb(255, 42, 0); /* Sombra dorada */
    outline: none;
}

/* Estilo para el enlace de registro */
.divRegistrar {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo semitransparente */
    border-radius: 10px;
    padding: 30px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 30vw;
    /* Ancho del formulario */
    max-width: 500px;
    height: auto;
    margin-top: 5vh;
}

.divRegistrar a {
    color: #b52a00;
    font-size: 1.1rem;
    text-decoration: none;
}

.divRegistrar a:hover {
    color: rgb(255, 60, 0);
}

.divRegistrar a:focus {
    text-decoration-line: underline;
}


/* Estilo del párrafo que pregunta si tiene cuenta */
.pLogin {
    color: white;
    font-size: 1rem;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 1366px),(max-height:768px){
    .divForm {
        width: 60vw;
        padding: 30px 20px;
    }

    legend {
        font-size: 2.5rem;
    }

    input[type="text"], input[type="password"] {
        padding: 10px;
        font-size: 0.9rem;
    }

    input.submit {
        padding: 10px 15px;
        font-size: 1rem;
    }
}

@media (max-width: 780px) {
    .divForm {
        width: 80vw;
        padding: 20px 15px;
    }

    legend {
        font-size: 2rem;
    }

    input[type="text"], input[type="password"] {
        padding: 8px;
        font-size: 0.9rem;
    }

    input.submit {
        padding: 8px 10px;
        font-size: 1rem;
    }
}
